
body, div, span, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}
#dropdown-page{
    display: block;
}
#city-search {
    display: flex;
    border-style: solid;
    border-width: 0.1px;
    width: 900px;
    padding: 10px;
    margin-top:-95px;
    margin-left:-145px;
    margin-right:-145px;
}
#city-search>input{
    border:none;
    margin-left:10px;

}
/* Header styling */
header {
    display: flex;
    position:static;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: rgb(255, 254, 254);
    padding: 10px 20px;
    height:50px

}

/* Logo container styling */
header > div:first-child {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
header > div>div:first-child {
    margin-top: 7px;
}


/* Search bar container styling */
header > div>div:nth-child(2) {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-style: groove;
    
}
header > div:nth-child(2) {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    font-size: small;
}
/* Search input styling */
header input[type="text"] {
    border: none;
    padding: 5px;
    margin-left: 5px;
    width: 400px;
}
#search-icon{
    margin-left: 8px;
    margin-top: 4px;
}

/* Search input focus styling */
header input[type="text"]:focus {
    outline: none;
}

/* Location and buttons container styling */
header > div:last-child {
    display: flex;
    align-items: center;
}

/* Location and dropdown arrow styling */
header > div:last-child span {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

/* Sign in button styling */
header >div:nth-child(2)>button:nth-child(3) {
    background-color: #f11a4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
header >div:nth-child(2)>button:nth-child(2) {
    background:transparent;
    border: none;
    margin-right: 10px;
    margin-left: 5px;
    padding-bottom: 2px;
    opacity: 0.7;
    cursor: pointer;
    display: flex;

}
header >div:nth-child(2)>button:nth-child(4) {
    background:transparent;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    padding: 5px;
}

#header2 {
    display:flex;
    justify-content: space-between;
    opacity: 0.9;
    font-size:small;
    padding: 7px;
}
#header2 >div>span{
    margin:8px;
}
#header2>div:first-child{
    margin-left: 30px;
}
#header2>div:nth-child(2){
    margin-right: 30px;
}

.dropdown-page {
    display: none;
    position: fixed;
    top: 10;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1000; /* Ensure dropdown page is above original content */
}

.overlay {
    /* position: absolute; */
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 244, 244, 0.5); /* Semi-transparent black background */
    opacity:0.4;
}

.dropdown-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(253, 252, 252);
    padding-top:100px ;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-right: 150px;
    /* padding: 200px; */
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(22, 22, 22, 0.5);
    text-align: center;
    z-index: 1001; 
}
#city-names{
    display: flex;
}
#col{
    margin: 30px;
    display:flex;
    flex-direction: column;
}
#detect-location{
    display:flex;
    margin-left: -145px;
    margin-top:5px; 
}
#detect-location:hover{
    cursor:pointer;
}
/* Responsive design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        height: 100px;
    }

    header > div:nth-child(2) {
        margin-top: 10px;
    }

    header > div:last-child {
        margin-top: 10px;
    }
}